/* hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 4%; 
}*/
hr {
  /* background-color: blue; */
  border-color: blue;
  /* color: blue; */
}
h1 {
   color: maroon; 
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
body {
  background-color: #eaf6f6;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
footer {
  margin-left: 45%;
}
.faw-aws {
  padding: 5px;
  margin: 20px 10px;
}
h2,
a {
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
}
button {
  text-align: center;
  margin-left: 47.5%;
}
h1,
p {
  padding: 10px 10px;
}
